body {
  background-color:rgb(71,141,180);
   font-family: 'Abril Fatface', cursive;
   margin: auto;
}

h1 {
  background-color:rgb(71,141,180);
   font-family: 'Open Sans', sans-serif;
   color: white;
   font-size: 190px;
   text-align: left;
   margin-top: 22px;
   margin-bottom: 0;
   margin-left: 0;
   margin-right: 0;
}
h2 {
  background-color:rgb(71,141,180);
   font-family: 'Open Sans', sans-serif;
   color: white;
   font-size: 250px;
   text-align: right;
   margin-top: 2px;
   margin-bottom: 22px;
   margin-left: 0;
   margin-right: 0;
}
blockquote {
  background-color:rgb(71,141,180);
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: black;
  text-align: left;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 40px;
  margin-right: 40px;
}
  font-size: 40px;
